@media screen and (min-width: 768px) and (max-width:1023px){
    #articleContainer{
        display: flex;
        justify-content: center;
    }
    article{
        width: 25%;
    }
    
}
@media screen and (min-width: 1024px){
    #articleContainer{
        display: flex;
        justify-content: center;
    }
    article{
        width: 25%;
    }
    
}

header,nav,article{
    text-align: center;
    margin: 10px;
}

header{
    color: lightskyblue;
    border: 3px lightskyblue solid;
}

nav{
    border: 3px purple solid;
}

article{
    border: 3px gold solid;
}